@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Church Movie Library</h1>
    <p>Store all the information about your favorite church films here!</p>
    <a href="/Movies/">View Your Movies!</a>
</div>
